.NewRelicPerformanceReport .cms-panel-padded {
    padding: 16px;
}

.NewRelicPerformanceReport .nr-report-wrapper {
    display: flex;
    
    flex: 0 1 auto;
    flex-wrap: wrap;
    
    align-items: stretch;
    justify-content: space-between;
}

.NewRelicPerformanceReport .nr-report-graph {
    background: #D8E4EB;
    
    display: flex;
    
    color: #43536D;
    
    position: relative;
    
    width: 100%;
    
    flex-direction: column;
    
    align-items: stretch;
    
    margin-bottom: 20px;
    padding: 10px;
    
    border-bottom: 1px solid #C2CDD4;
    
    box-sizing: border-box;
    
    border-radius: 3px;
}

.NewRelicPerformanceReport .nr-report-graph.nr-report-two-col {
    width: 49.5%;
}

.NewRelicPerformanceReport .nr-report-graph .nr-report-header {
    position: relative;
    
    flex: 0 0 auto;
    
    margin-bottom: 5px;
}

.NewRelicPerformanceReport .nr-report-graph .nr-report-header:after {
    clear: both;
    
    display: block;
    
    content: ' ';
    
    width: 0;
    height: 0;
    
    font-size: 0;
    
    line-height: 0;
    
    visibility: hidden;
}

.NewRelicPerformanceReport .nr-report-graph .nr-report-title {
    float: left;
    
    font-size: 18px;
    font-weight: bold;
    
    line-height: normal;
}

.NewRelicPerformanceReport .nr-report-graph .nr-report-title .nr-report-alert-icon {
    background: url(./../images/alert-icon.png) no-repeat;
    
    display: inline-block;
    
    width: 22px;
    height: 22px;
    
    vertical-align: top;
    
    cursor: help;
}

.NewRelicPerformanceReport .nr-report-graph.nr-report-graph-crit .nr-report-title .nr-report-alert-icon {
    background-position: -22px 0;
}

.NewRelicPerformanceReport .nr-report-graph .nr-report-averages {
    float: right;
}

.NewRelicPerformanceReport .nr-report-graph .nr-report-averages ul, .NewRelicPerformanceReport .nr-report-graph .nr-report-averages ul li {
    margin: 0;
    padding: 0;
}

.NewRelicPerformanceReport .nr-report-graph .nr-report-averages ul li {
    display: block;
    
    float: left;
    
    color: #43536D;
    
    margin-left: 20px;
    
    text-align: center;
    
    vertical-align: top;
}

.NewRelicPerformanceReport .nr-report-graph .nr-report-averages ul li span {
    display: block;
    
    color: #43536D;
}

.NewRelicPerformanceReport .nr-report-graph .nr-report-averages ul li .nr-value {
    font-size: 16px;
    font-weight: bold;
}

.NewRelicPerformanceReport .nr-report-graph .nr-report-averages ul li .nr-label {
    font-size: 12px;
    
    text-transform: uppercase;
}

.NewRelicPerformanceReport .nr-report-graph .nr-report-ratio {
    position: relative;
    
    width: 100%;
    
    flex: 1 1 auto;
    
    padding-bottom: 52.4%;
}

.NewRelicPerformanceReport .nr-report-graph .nr-report-inner {
    background: #FFFFFF;
    
    position: absolute;
    left: 0;
    top: 0;
    
    width: 100%;
    height: 100%;
    
    border: 1px solid #CED5E1;
    
    padding: 9px;
    
    border-radius: 4px;
    
    box-sizing: border-box;
}

.NewRelicPerformanceReport .nr-report-graph .nr-report-canvas-wrap {
    position: relative;
    
    width: 100%;
    height: 100%;
}

.NewRelicPerformanceReport .nr-report-graph.nr-report-legend-graph .nr-report-canvas-wrap {
    height: auto;
    min-height: 92.5%;
}

.NewRelicPerformanceReport .nr-report-graph.nr-report-legend-graph .nr-report-ratio {
    padding-bottom: 55%;
}

.NewRelicPerformanceReport .nr-report-graph.no-data .nr-report-canvas-wrap, .NewRelicPerformanceReport .nr-report-graph.no-data .nr-report-table-wrap {
    background: url(./../images/no-data.jpg) no-repeat center center;
}

.NewRelicPerformanceReport .nr-report-graph.no-data .cms-content-loading-spinner,
.NewRelicPerformanceReport .nr-report-graph.no-data .cms-content-loading-overlay,
.NewRelicPerformanceReport .nr-report-graph.no-data canvas,
.NewRelicPerformanceReport .nr-report-graph.no-data .nr-report-graph-legend {
    display: none;
}

.NewRelicPerformanceReport .nr-report-graph .nr-report-canvas {
    width: 100%;
    height: 100%;
}

.NewRelicPerformanceReport .nr-report-graph .nr-graph-tooltip {
    background: rgba(0, 0, 0, 0.8);
    
    display: none;
    
    position: absolute;
    left: 0;
    top: 0;
    
    color: #FFFFFF;
    
    padding: 5px;
    
    border-radius: 4px;
    
    white-space: nowrap;
    
    z-index: 200;
    
    pointer-events: none;
}

.NewRelicPerformanceReport .nr-report-graph .nr-graph-tooltip:before {
    position: absolute;
    top: 100%;
    left: 50%;
    
    
    content: " ";
    
    width: 0;
    height: 0;
    
    border: 8px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.8);
    
    margin-left: -8px;
    
    pointer-events: none;
}

.NewRelicPerformanceReport .nr-report-graph .nr-graph-tooltip.arrow-top:before {
    top: auto;
    bottom: 100%;
    
    border-top-color: transparent;
    border-bottom-color: rgba(0, 0, 0, 0.8);
}

.NewRelicPerformanceReport .nr-report-graph .nr-graph-tooltip.arrow-left:before {
    top: 50%;
    left: auto;
    right: 100%;
    
    margin: -8px 0 0;
    
    border-top-color: transparent;
    border-right-color: rgba(0, 0, 0, 0.8);
}

.NewRelicPerformanceReport .nr-report-graph .nr-graph-tooltip.arrow-right:before {
    top: 50%;
    left: 100%;
    
    margin: -8px 0 0;
    
    border-top-color: transparent;
    border-left-color: rgba(0, 0, 0, 0.8);
}

.NewRelicPerformanceReport .nr-report-graph .nr-graph-tooltip .time-span {
    display: block;
    
    font-weight: bold;
    font-size: 1.1em;
    
    margin-bottom: 10px;
}

.NewRelicPerformanceReport .nr-report-graph .nr-graph-tooltip b {
    font-weight: bold;
}

.NewRelicPerformanceReport .nr-report-graph .nr-graph-tooltip hr {
    border: 0;
    
    border-bottom: 1px solid #FFFFFF;
    
    margin: 5px 0;
    padding: 0;
}

.NewRelicPerformanceReport .nr-report-graph ul.nr-report-graph-legend, .NewRelicPerformanceReport .nr-report-graph ul.nr-report-graph-legend li {
    margin: 0;
    padding: 0;
    
    list-style-type: none;
}

.NewRelicPerformanceReport .nr-report-graph ul.nr-report-graph-legend li {
    display: inline-block;
    
    font-size: 12px;
    font-weight: bold;
    
    border: 1px solid transparent;
    
    padding: 2px 5px;
    
    cursor: pointer;
}

.NewRelicPerformanceReport .nr-report-graph ul.nr-report-graph-legend li.hidden {
    background-color: transparent !important;
}

.NewRelicPerformanceReport .nr-report-graph ul.nr-report-graph-legend li + li {
    margin-left: 4px;
}

.NewRelicPerformanceReport .nr-report-graph .nr-report-help {
    background: url(./../images/help-icon.png) no-repeat;
    
    display: inline-block;
    
    width: 22px;
    height: 22px;
    
    vertical-align: top;
    
    cursor: help;
}

.NewRelicPerformanceReport .nr-report-graph .nr-report-help-text {
    width: 210px;
    
    white-space: normal;
}

.NewRelicPerformanceReport .nr-report-graph .nr-report-table-wrap {
    position: relative;
    
    width: 100%;
    height: 100%;
    
    overflow-x: hidden;
    overflow-y: auto;
}

.NewRelicPerformanceReport .nr-report-graph .nr-report-table-wrap.data-loading, .NewRelicPerformanceReport .nr-report-graph.no-data .nr-report-table-wrap table.nr-report-table {
    display: none;
}

.NewRelicPerformanceReport .nr-report-graph.no-data .nr-report-table-wrap {
    display: block;
}

.NewRelicPerformanceReport .nr-report-graph .nr-report-table-wrap table.nr-report-table {
    width: 100%;
    
    border-spacing: 0;
    border-collapse: separate;
    
    padding: 0;
}

.NewRelicPerformanceReport .nr-report-graph .nr-report-table-wrap table.nr-report-table th,
.NewRelicPerformanceReport .nr-report-graph .nr-report-table-wrap table.nr-report-table td {
    color: #666666;
    
    border-right: 1px solid #DBE0E9;
    border-bottom: 1px solid #DBE0E9;
    
    padding: 5px 10px;
}

.NewRelicPerformanceReport .nr-report-graph .nr-report-table-wrap table.nr-report-table th:last-child,
.NewRelicPerformanceReport .nr-report-graph .nr-report-table-wrap table.nr-report-table td:last-child {
    border-right: 0;
}

.NewRelicPerformanceReport .nr-report-graph .nr-report-table-wrap table.nr-report-table tr:last-child td {
    border-bottom: 0;
}

.NewRelicPerformanceReport .nr-report-graph .nr-report-table-wrap table.nr-report-table thead th {
    font-weight: bold;
    color: #43536D;
}

.NewRelicPerformanceReport .nr-report-graph .nr-report-table-wrap > table.nr-report-table > thead > tr > th {
    line-height: 22px;
}

.NewRelicPerformanceReport .nr-data-provider {
    clear: both;
    
    line-height: 20px;
}

.NewRelicPerformanceReport .nr-data-provider img {
    vertical-align: bottom;
}

.NewRelicPerformanceReport .nr-data-provider span {
    font-size: 85%;
    color: #B9B9B9;
}

@media only screen and (max-width: 1200px) {
    .NewRelicPerformanceReport .nr-report-graph.nr-report-two-col {
        clear: both;
        
        float: none;
        
        width: auto;
    }
    
    .NewRelicPerformanceReport .nr-report-graph.nr-report-two-col + .nr-report-two-col {
        margin-left: 0;
    }
}